npx create-next-app@latest my-app --typescript --tailwind --eslint
npm add @clerk/nextjs
npm install prisma --save-dev
npm install @prisma/client  
npx prisma generate 
npx prisma db push
npx prisma init 
npx prisma studio   