npx create-next-app@latest my-app --typescript --tailwind --eslint
npm add @clerk/nextjs
npm install prisma --save-dev
npm install @prisma/client  
npx prisma generate 
npx prisma db push
npx prisma init 
npx prisma studio     
npx shadcn-ui@latest init
npx shadcn-ui@latest add --all
npm add @hookform/error-message
npm install next-themes
npm install axios
npm install html-react-parser
npm install pusher
npm install pusher-js
